body {
    margin: 0; 
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: grid;
    height: 90vh;
    background-color: #D73C1B;
}

main {
    display: grid;
    min-height: 1080px;
    background-color: #1BD728;
}

footer {
    display: grid;
    justify-items: center;
    height: 100px;
    background-color: blue;
}

footer h1 {
    font-size: 40px;
    color: black;
}

